
    <div class="contain display">
        <div class="form-con display">
            <form action="/users/login" method="POST">
            <div>{{message}}</div>
                <div class="item display">
                    <label  class="padding-right">Your name</label>
                    <input id="name" type="name" name="name"  />
                </div>
                <div class="item display">
                    <label  class="padding-right">password</label>
                    <input id="password" name="password" type="password" />
                </div>
                <button type="submit" class="submit">Login</button>
            </form>
        </div>
    </div>
