<div class="contain display">
    <div class="form-con display">
        <div>{{message}}</div>
        <form action="/users/register" method="POST">
            <div class="item display">
                <label class="padding-right">Your name</label>
                <input id="name" type="name" name="name" />
            </div>
            <div class="item display">
                <label class="padding-right">password</label>
                <input id="password" name="password" type="password" />
            </div>
            <div class="item display">
                <label class="padding-right">comfirm password</label>
                <input id="password2" name="password2" type="password" />
            </div>
            <button type="submit" class="submit">register</button>
        </form>
    </div>
</div>